body {
  margin: 0;
  padding: 0;
}
body {
  margin: 50px;
}
h3 {
  font-size: 1.5em;
}
header span:before {
  content: "/";
  font-size: 20px;
  margin: 10px;
}
 header h3:after {  /* black line after date */
   content: "";
  position: absolute;
  height: 5px;
  border-bottom: 10px solid black;
  top: 54px;
  width: 1080px;

 }
 header h3 span:after {  /* white space between date and line */
   content: "";
   border: solid 10px white;
 }
 h2 {
  font: url(https://fonts.googleapis.com/css?family=Fredericka+the+Great);
  font-family: 'Fredericka the Great', cursive;
  font-size: 3em;
  margin-left: 90px;
  margin-bottom: 10px;
 }
 .america {
   font-style: italic;
   font-family: sans-serif;
   margin-left: 90px;
 }
